body {
    font-family: 'Quicksand', sans-serif;
  background: linear-gradient(to right, #007acc, #00c9a7);
  color: #ffffff;
  text-align: center;
  padding: 50px;
  min-height: 100vh;
  margin: 0;
  }
  
  h1 {
    color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 12px;
  display: inline-block;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
  }
  